html {
	font-size: 16px;
	line-height: 1.6;
}

#header .links li {
	padding-right: 10px;
	display: inline;
}
#header .links ul {
	padding-left: 0;
	margin-left: 0;
	list-style: none;
}
#header div.links {
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
}
@media only screen and (min-width: 600px){
#header div#social{
	float: right;
	width: 250px;
	border-left: 1px solid grey;
	padding-left: 29px;
}
}
@media only screen and (max-width: 980px){
.links{
	display: none;
}
#header div#title h1{
	display: none;
	font-size: 52px;
	text-align: center;
}
#header div#title{
	border-bottom: 1px solid grey;
	margin: 0;
	padding: 5px;
}
#header div#title a#mobile_nav{
	text-decoration: None;
}
}

#header div#title p{
	font-size: 28px;
}
}
@media only screen and (min-width: 980px){

#header div#title a#mobile_nav{
	display: none;
}
}
@media only screen and (max-width: 1200px){
div#sidebar{
	display: none;
}
div#main{
	padding: 5px;
}
}
@media only screen and (min-width: 1200px){
div#pagecontent{

	border-bottom: 1px solid grey;
}
div#main{
	width: 900px; 
	border-right: 1px solid grey;
	padding-right: 20px;
	padding-bottom: 20px;
	margin-top: 0;
	padding-top: 10px;
	text-align: justify;
}
div#container {
	margin: 0 auto;
	width: 1200px;
}
div#sidebar {
	width: 250px;
	margin-left: 50px;
	padding-left: 10px;
	float: right;
}
}
