{% load static %}
<html>
    <head>
        {% block head %}
        {% endblock %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset='utf-8' />
        <link href="{%  static 'blog/base.css' %}" type='text/css' rel='stylesheet' /> 
        <link href="{%  static 'blog/favicon.ico' %}" type='image/png' rel='shortcut icon' /> 
    </head>
    <body>
        <div id="container">
            <div id="header">
                <div id="title">
                    {% block mobilenav %} 
                    {% endblock %}
                    {% for title in titles %}
                        <h{{title.size}}>{{ title.text}}</h{{title.size}}>
                    {% endfor %}
                </div>
                {% if social|length %}
                <div class="links" id="social">
                    <ul>
                       {% for social in socials %}
                            <li><a href='{{social.url}}', target='_blank'>{{social.name}}</a></li>
                       {% endfor %}
                    </ul>
                </div>
                {% endif %}
                <div class="links">
                    <ul>
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li><a href="{% url 'about' %}">About</a></li>
                        <li><a href="{% url 'collections' %}">Posts</a></li>
                    </ul>
                </div>
            </div>
            <div id="pagecontent">
            <div id="sidebar">
                {% block sidebar %}
                {% endblock %}
            </div>
            <div id="main">  
                                                                  
            {% block main_content %}
            {% endblock  %}
                {% if socials|length > 0 %}
                <div id="mobilesocial">
                    <h3>Other places</h3>
                    <ul>
                        {% for social in socials %}
                            <li><a href='{{social.url}}', target='_blank'>{{social.name}}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
                </div>
            </div>
</body>
</html>
