{% extends 'posts/base.html' %}

{% block mobilenav %}
<p><a href="{% url 'index' %}" id="mobile_nav">&#8592;Back to Posts</a></p>
{% endblock%}

{% block head%}
    {% if header %}
        {{header | safe}}
    {% endif %}
{% endblock %}


{% block main_content %}                                                                  
    {% if share_pdf is True %}
    <a href="{{ pdf.media.url }}" target='_blank'>Download PDF</a>
    {% endif %}
    {% if body %}
        {{body | safe}}
    {% endif %}
{% endblock %}
